@model SliderUpdateVM
@{
    ViewData["Title"] = "Update";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Update Slider</h6>
    </div>
    <div class="card-body">
        <form asp-action="Update" method="post">
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer1"></label>
                <input asp-for="Layer1" class="form-control">
                <span asp-validation-for="Layer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer2"></label>
                <input asp-for="Layer2" class="form-control">
                <span asp-validation-for="Layer2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer3"></label>
                <input asp-for="Layer3" class="form-control">
                <span asp-validation-for="Layer3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ButtonText"></label>
                <input asp-for="ButtonText" class="form-control">
                <span asp-validation-for="ButtonText" class="text-danger"></span>
            </div>
            <button class="btn btn-success">Submit!</button>
        </form>
    </div>
</div>

